$desktop: 1281px;
$tablet-portrait: 769px;

.tests {
  position: relative;
  font-size: 1.25rem;
}

.test {
  margin-top: 4rem;
  border-top: 0.2rem solid var(--color-3);

  @media (max-width: $desktop) {
    margin-top: 2rem;
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }

  input[type="text"] {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }

  input[type="checkbox"] {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.title {
  max-width: 65rem;
  margin: 4rem 0;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--font-text-bold);
  font-size: 2.5rem;

  @media (max-width: $desktop) {
    margin: 2rem 0;
    font-size: 2rem;
  }

  @media (max-width: $tablet-portrait) {
    font-size: 1.5rem;
  }

  span {
    -webkit-text-stroke: 0.08rem var(--color-1);
    color: transparent;
  }
}
