.item {
  padding: 1rem;
  width: fit-content;
  border: 0.2rem solid var(--color-3);
  transition-property: opacity, margin-left;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  margin-left: 50%;
  opacity: 0;
}

.active {
  margin-left: 0;
  opacity: 1;
}
